body {
  font-family: "League Spartan", sans-serif;
  margin: 0px;
}

.main {
  display: flex;
  margin: 30px 30px 10px 30px;
}

.top-headings h1 {
  color: hsl(300, 43%, 22%);
  font-size: 40px;
  font-weight: 700;
  line-height: 32px;
}

.top-headings p {
  color: hsl(303, 15%, 53%);
  font-size: 20px;
  line-height: 25px;
}

.rating {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 15px;
}

.rating1,
.rating2,
.rating3 {
  display: flex;
}
.rating1,
.rating2,
.rating3 {
  text-align: center;
  background-color: hsl(300, 24%, 96%);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

.rating h4 {
  color: hsl(300, 43%, 22%);
  margin: 0px;
  padding-left: 20px;
}

.reviews {
  display: flex;
  margin-top: 30px;
  gap: 15px;
}

.review1,
.review2,
.review3 {
  color: white;
  background-color: hsl(300, 43%, 22%);
  padding: 30px 20px 10px 20px;
  text-align: left;
  border-radius: 10px;
}

.reviews h5 {
  margin: 0px;
  padding: 5px;
  font-size: 18px;
}

.reviews span {
  color: hsl(333, 80%, 67%);
  font-size: 16px;
}

.reviews p {
  padding-top: 5px;
  line-height: 25px;
  font-size: 16px;
  color: hsl(300, 24%, 96%);
}

.reviews img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin: 0px;
  text-align: center;
  background-color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .top-headings {
    text-align: center;
  }

  .top-headings h1 {
    padding: 0px 20px 0px 20px;
  }

  .rating h4 {
    padding-top: 10px;
  }

  .rating1,
  .rating2,
  .rating3 {
    display: flex;
    flex-direction: column;
  }

  .reviews {
    flex-direction: column;
  }
}

@media only screen and (min-width: 601px) {
  .main {
    flex-wrap: wrap;
  }

  .top-headings {
    flex: 1 0 30%;
    margin: 20px;
  }

  .rating {
    flex: 1 0 50%;
    margin-top: 80px;
    align-items: center;
  }

  .rating2 {
    margin-left: 80px;
  }

  .rating3 {
    margin-left: 140px;
  }

  .rating h4 {
    padding-top: 3px;
  }

  .review1 {
    margin-bottom: 40px;
  }

  .review2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .review3 {
    margin-top: 40px;
  }
}
